---
import { Image } from "astro:assets";
import heroImage from "../../images/hero.png";
---

<main class="container-grid h-[100svh] w-full sticky top-0 overflow-hidden">
  <div class="pt-32 flex flex-col relative z-10 gap-8 col-start-2 col-span-4">
    <h1 class="heading-1">
      A <span class="composition">Collaborative </span>
      Circle <br /> for All Remote Workers <br /> in <span class="composition"
        >Pontianak</span
      >
    </h1>
    <div>
      <button
        class="border border-foreground rounded-full px-15 py-5 font-semibold w-fit text-[2rem] leading-normal"
        >Let's connect</button
      >
    </div>
  </div>
  <div class="absolute inset-0 container-grid items-end">
    <!-- Image Card -->
    <div
      class="col-start-3 aspect-[8/5] bg-white translate-y-1/2 col-span-3 p-2"
    >
      <Image src={heroImage} width={"900"} class="aspect-[8/5] w-full" alt="" />
    </div>
  </div>
</main>
